<style>
	body, p { font-size: 15px; color: black; }
	h1, h2, h3, h4, h5, p { margin-bottom: 10px; }
	dd { margin-left: 20px; }
	dt { font-weight: bold; }
	ul {
	    margin-top: 0px;
	    display: block;
	    list-style-type: disc;
	    -webkit-margin-after: 1em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
	    -webkit-padding-start: 40px;
	}
	pre {
	    display: block;
	    padding: 9.5px;
	    margin: 0 0 10px;
	    font-size: 13px;
	    line-height: 1.428571429;
	    word-break: break-all;
	    word-wrap: break-word;
	    color: #77777a;
	    background-color: #f5f5f5;
	    border: 1px solid #cccccc;
	    border-radius: 4px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}
	table { border: 1px solid #dedede; }

	.nav a:hover, .nav li.active > a {
	    background-color: #8D8D8D;
	    color: #f5f5f5;
	}
	.nav li a:hover {
	    background-color: #8D8D8D;
	}

	.search_box #s { height: 33px; }
	.main_nav .wrapper ul li a { height: 54px; }
	.page_title hgroup { height: 160px; }
	.page_title h1 { margin-top: 0px; }
	.page_title h2 { margin-top: 0px; padding-top: 0px; }

</style>
